@charset "utf-8";
/* cssリセット */

@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700 &family=Zen+Maru+Gothic&display=swap");

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    color: #938383;
    font-weight: normal;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 400;
    /* font-family: "Zen Maru Gothic", "Reem Kufi", "sans-serif", "游明朝", */
    /* "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", */
    /* "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; */
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* headerここから */
#header {
    position: relative;
    background-color: #f2f2f2;
}

.header_top {
    position: relative;
}

.header_in {
    position: absolute;
    top: 90px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    z-index: 100;
}

.header_pic {
    width: calc(100% - 90px);
}

.header_pic img {
    width: 100%;
}

.fv_sp_only {
    display: none;
}

.header_ico {
    top: 19vw;
    width: 6.3vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_ttl {
    top: 26vw;
    width: 17.7vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_name {
    top: 29vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.header_contact,
.header_instagram {
    text-align: center;
}

.header_contactpage_link img {
    width: 16px;
}

.contact_link {
    font-size: 12px;
    font-family: "Reem Kufi";
    padding: 5px 0 20px 0;
}

.header_instagrampage_link img {
    width: 16px;
}

.instagram_link {
    font-size: 12px;
    font-family: "Reem Kufi";
    padding: 5px 0 20px 0;
}

.scroll_down {
    position: absolute;
    right: 50px;
    bottom: 0%;
    height: 100px;
}
.scroll_down span {
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute;
    left: -18px;
    top: -31px;
    font-family: "Reem Kufi";
    font-size: 14px;
}
.scroll_down::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 30px;
    background: #938383;
    animation: pathmove 2.5s ease-in-out infinite;
    opacity: 0;
}

@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }
    30% {
        height: 30px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

/* header レスポンシブ */
@media screen and (max-width: 1100px) {
    .header_pic {
        display: none;
    }

    .header_in {
        display: none;
    }

    .header_ico {
        width: 86px;
        top: 40vw;
    }

    .header_ttl {
        top: 52vw;
        width: 200px;
    }

    .header_name {
        top: 58vw;
        font-size: 14px;
    }

    .fv_sp_only {
        display: block;
    }
    .fv_sp_only img {
        width: 100%;
    }

    .scroll_down span {
        color: #fff;
    }
    .scroll_down::after {
        color: #fff;
    }
}

@media screen and (max-width: 767px) {
    .header_pic {
        display: none;
    }
    .header_in {
        display: none;
    }

    .header_ico {
        width: 86px;
        top: 60vw;
    }

    .header_ttl {
        top: 88vw;
        width: 200px;
    }

    .header_name {
        top: 100vw;
        font-size: 14px;
    }

    .fv_sp_only {
        display: block;
    }
    .fv_sp_only img {
        width: 100%;
    }
}

/* PCハンバーガーここから */
/* PCハンバーガーボタン */
.pc_nav {
    display: none;
}

/* スマホ版メニューを消す */
.sp_nav,
.sp_btn,
.spa_btn_main {
    display: none;
}

/* ハンバーガー */
.pc_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 35px;
    height: 35px;
    position: fixed;
    z-index: 200;
}

.pc_btn:hover {
    cursor: pointer;
}

.pc_btn span {
    display: block;
    position: relative;
    top: 20px;
    width: 35px;
    height: 1px;
    border-radius: 1px;
    background: #938383;
    transition: 0.3s;
}

.pc_btn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 1px;
    border-radius: 1px;
    background: #938383;
    transition: 0.3s;
}

.pc_btn span::before {
    bottom: 10px;
}

/* ハンバーガー閉じる */
.pc_btn.open span {
    bottom: 0;
    transform: rotate(45deg);
    background: #ffffff;
}

.pc_btn.open span::before {
    top: 0;
    transform: rotate(90deg);
    background: #ffffff;
}

/* ハンバーガーメニュー */
.pc_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #b2a3a3;
    position: fixed;
    z-index: 150;
}

.pc_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.pc_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "Reem Kufi";
}

/* ハンバーガーメニュー レスポンシブ */
@media screen and (max-width: 1100px) {
    /* SPハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #b2a3a3;
        position: fixed;
        z-index: 99;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 20px;
        font-family: "Reem Kufi";
    }

    .sp_nav img {
        width: 28px;
    }

    /* SPハンバーガーボタン */
    /* main pageのみ */
    .sp_btn_main {
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
        width: 35px;
        height: 35px;
        position: fixed;
        z-index: 100;
    }

    .sp_btn_main span {
        display: block;
        position: relative;
        top: 10px;
        width: 30px;
        height: 2px;
        border-radius: 2px;
        background: #ffffff;
        transition: 0.3s;
    }

    .sp_btn_main span::before {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        border-radius: 2px;
        background: #ffffff;
        transition: 0.3s;
    }

    .sp_btn_main span::before {
        bottom: 10px;
    }
    /* main page以外 */
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
        width: 35px;
        height: 35px;
        position: fixed;
        z-index: 100;
    }

    .sp_btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 30px;
        height: 1px;
        border-radius: 2px;
        background: #938383;
        transition: 0.3s;
    }

    .sp_btn span::before {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 1px;
        border-radius: 2px;
        background: #938383;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    /*SPハンバーガー閉じる */
    /* メインページ */
    .sp_btn_main.open span {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn_main.open span::before {
        top: 0;
        transform: rotate(90deg);
    }

    /* その他のページ */
    .sp_btn.open span {
        bottom: 0;
        transform: rotate(45deg);
        background: #ffffff;
    }

    .sp_btn.open span::before {
        top: 0;
        transform: rotate(90deg);
        background: #ffffff;
    }

    /* PCメニューを消す */
    .pc_nav,
    .pc_btn {
        display: none;
    }
}

/* あしらい＿想い */
.connect01 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 60px;
    height: 100%;
    margin: auto;
}

.connect01 div {
    position: sticky;
    top: 0;
    padding-top: 38vw;
}

/* あしらい＿想い レスポンシブ*/
@media screen and (max-width: 1100px) {
    .connect01 div {
        position: sticky;
        top: 0;
        padding-top: 130vw;
    }
}

/* 背景 */
main {
    background-color: #f2f2f2;
}

/* 横の余白 */
#about {
    padding: 120px 0px 0px 0px;
}

#services {
    padding: 150px 0px 0px 0px;
}

#works {
    padding: 150px 0 150px 0px;
}

#contact {
    padding: 80px 0 100px 0px;
}

/* 横の余白 レスポンシブ*/
@media screen and (max-width: 767px) {
    #about {
        padding: 100px 20px 0px 20px;
    }

    #services {
        padding: 100px 0 0 0;
    }

    #works {
        padding: 100px 20px 0px 20px;
    }

    #contact {
        padding: 100px 20px 100px 20px;
    }
}

/* コンテンツ幅 */
.section_inner {
    max-width: 1000px;
    margin: 0 auto;
}

.section_inner2 {
    max-width: 900px;
    margin: 0 auto;
}
.section_inner_services {
    max-width: 900px;
    margin: 0 auto;
}

.section_inner_about {
    max-width: 1000px;
    margin: 0 auto;
}

.section_inner_about_top {
    max-width: 1000px;
    margin: 0 auto;
}

.section_inner_about_bottom {
    max-width: 900px;
    margin: 0 auto;
}

/* コンテンツ幅 レスポンシブ*/
@media screen and (max-width: 1100px) {
    .section_inner_services {
        max-width: 600px;
        margin: 0 auto;
    }

    .section_inner2 {
        max-width: 335px;
        margin: 0 auto;
    }

    .section_inner_about_top {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .section_inner {
        max-width: 335px;
        margin: 0 auto;
    }

    .section_inner2 {
        max-width: 335px;
        margin: 0 auto;
    }

    .section_inner_services {
        max-width: 335px;
        margin: 0 auto;
    }

    .section_inner_about_top,
    .section_inner_about_bottom {
        max-width: 335px;
        margin: 0 auto;
    }
}

/* レスポンシブ切り替え表示 */
.pc_only {
    display: block;
}

.sp_only {
    display: none;
}

/* レスポンシブ切り替え表示 レスポンシブ*/
@media screen and (max-width: 767px) {
    .pc_only {
        display: none;
    }
    .sp_only {
        display: block;
    }
}

/* 繋がる */
.connect02 {
    width: 60px;
    margin: 0 auto;
}

/* aboutここから*/
.about .title {
    width: 122px;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.about_message {
    text-align: center;
    line-height: 3;
    padding-bottom: 100px;
    font-size: 18px;
}

.col_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
}

.about_item1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about_item2 {
    display: flex;
}

.item_picture {
    width: 50%;
}

.about_title_name {
    line-height: 1.4;
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
    display: block;
}

.about_name {
    width: 163px;
    line-height: 1.6;
    margin: 0 auto;
    padding-bottom: 15px;
}

.about_ring {
    width: 36px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.about_text {
    font-size: 14px;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.1em;
}

.about_more a {
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 70px;
    padding: 30px 39px 30px 0;
    color: #938383;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.about_more a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #938383;
    border-radius: 50%;
}

.about_more a::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #938383;
    border-right: 1px solid #938383;
    transform: rotate(45deg);
}

/* about レスポンシブ*/
@media screen and (max-width: 767px) {
    .about .title {
        width: 110px;
        padding: 0 0 20px 0;
    }

    .about_message {
        padding-bottom: 50px;
        font-size: 15px;
        line-height: 1.75;
    }

    .about_item1 {
        padding-bottom: 30px;
    }

    .about_name {
        width: 150px;
        padding-bottom: 15px;
    }

    .about_ring {
        padding-bottom: 15px;
    }

    .about_text {
        font-size: 13px;
        letter-spacing: 0;
    }

    .about_title_name {
        padding-bottom: 5px;
    }
}

/* servicesここから*/
.services .title {
    width: 122px;
    margin: 0 auto;
}
.services_tool {
    text-align: center;
    font-size: 14px;
    padding: 80px 0 30px 0;
    font-weight: bold;
}

.services_tool span {
    border-bottom: solid 1px #938383;
    padding: 5px 0;
}

.services_detail {
    text-align: center;
    font-size: 14px;
    padding-bottom: 50px;
}

.services_container,
.services_container2 {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services_container li img,
.services_container2 li img {
    width: 116px;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.item_detail {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 35px 0;
    text-align: center;
}

.graphic {
    background: #d8cece;
}

.web {
    background: #e5e5e5;
}

.services_gra,
.services_web {
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}

/* services レスポンシブ*/
@media screen and (max-width: 1100px) {
    .services_container,
    .services_container2 {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 400px;
    }
    .services_container li img,
    .services_container2 li img {
        width: 90px;
    }

    .item_detail {
        font-size: 12px;
        padding: 10px 0 35px 0;
    }

    .services li {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .services_tool {
        padding: 30px 0 30px 0;
    }

    .services_detail {
        font-size: 12px;
        padding-bottom: 35px;
    }

    .services_container,
    .services_container2 {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 255px;
    }
    .services_container li img,
    .services_container2 li img {
        width: 60px;
    }

    .item_detail {
        font-size: 12px;
        padding: 10px 0 35px 0;
    }

    .services li {
        text-align: center;
    }
}

/* worksここから */
.works .title {
    width: 91px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.works_detail {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
}

.works_container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works_container li {
    width: 300px;
}

.work {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding-bottom: 30px;
}

.works_wrap {
    display: flex;
}

.works_wrap img:hover {
    opacity: 0.7;
}

.works_more {
    text-align: right;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.works_more a {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 70px;
    padding: 30px 39px 30px 0;
    color: #938383;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.works_more a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #938383;
    border-radius: 50%;
}

.works_more a::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #938383;
    border-right: 1px solid #938383;
    transform: rotate(45deg);
}

/* works レスポンシブ */
@media screen and (max-width: 1100px) {
    .works_container {
        justify-content: space-around;
    }
}

@media screen and (max-width: 767px) {
    .works .title {
        width: 90px;
        padding-bottom: 30px;
    }
    .works_container {
        justify-content: center;
    }
}

/* contactここから */
.contact {
    background-image: url("../images/contact_pic-100.jpg");
    background-size: cover;
}

.contact .title {
    width: 134px;
    margin: 0 auto;
}

.contact_top {
    text-align: center;
    padding: 50px 0px;
    line-height: 2;
    font-size: 14px;
    font-weight: bold;
}

.contact_apple {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 217px;
    background-image: url("../images/apple_contact@2x.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    cursor: pointer;
    animation-name: ▲▲▲▲;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
}

@keyframes ▲▲▲▲ {
    0% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -15px);
    }
}

.contact_btn {
    width: 200px;
    margin: 0 auto;
}

.contact_bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}

/* contact レスポンシブ */
@media screen and (max-width: 767px) {
    .contact {
        background-image: url("../images/contact_sp.png");
        background-size: cover;
    }
}

/* footerここから */
footer {
    background-color: #938383;
}

.footer_contents {
    display: block;
    padding-top: 50px;
}
.footer_logo img {
    display: block;
    width: 60px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.footer_name img {
    width: 162px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.footer_text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 30px;
}
.footer_copy {
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* ページトップボタンここから */
.pagetop {
    position: fixed;
    width: 30px;
    left: 40px;
    bottom: 40px;
    /*デフォルトで非表示にする*/
    opacity: 0;
    visibility: hidden;
    transition: 0s;
}

/*このクラスが付与されると表示する*/
.active {
    opacity: 1;
    visibility: visible;
}

/* footer レスポンシブ */
@media screen and (max-width: 767px) {
    .pagetop {
        width: 24px;
        left: 10px;
    }
}

/* 下層ページ about */
/* about_pageここから */
#about_page {
    padding-top: 150px;
}

.about_page .title {
    width: 122px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.about_page_message {
    text-align: center;
    line-height: 3;
    padding-bottom: 100px;
    font-size: 18px;
}

.about_page_ring {
    width: 36px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.about_page_col_2 {
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.about_page_item1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about_page_item2 {
    display: flex;
}

.about_page_item1 .item_picture {
    width: 200px;
}

.about_page_text {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.1em;
    display: grid;
    place-items: center;
}

/*  about moreここから*/
.about_wrap {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    margin-top: 80px;
    margin-left: 80px;
    background-image: url("../images/about_apple.png");
    height: 428px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.about_page_about_more_title {
    position: absolute;
    top: 50px;
    left: 160px;
    font-weight: 700;
}
.about_page_about_more_apple {
    position: absolute;
    top: 85px;
    left: 185px;
}

.about_page_about_more_text {
    position: absolute;
    top: 150px;
    left: 65px;
    font-size: 14px;
    line-height: 1.6;
    z-index: 2;
}

/* carrierここから */
.about_wrap_right {
    display: flex;
    justify-content: right;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-top: -150px;
    background-image: url("../images/about_apple.png");
    height: 428px;
    width: 400px;
    background-repeat: no-repeat;
}

.about_page_carrier_title {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50px;
    left: 180px;
    font-weight: 700;
}

.about_page_carrier_apple {
    position: absolute;
    top: 85px;
    right: 180px;
}

.about_page_carrier_text {
    position: absolute;
    top: 150px;
    right: 60px;
    font-size: 14px;
    line-height: 1.6;
    z-index: 2;
}

/* contactここから */
.about_wrap2 {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    margin-left: 180px;
    margin-top: -150px;
    background-image: url("../images/contact_apple.png");
    height: 240px;
    width: 210px;
    background-repeat: no-repeat;
}

.about_wrap_contact {
    cursor: pointer;
}

.about_page_contact_title {
    position: absolute;
    top: 40px;
    left: 80px;
    font-weight: 700;
}
.about_page_contact_apple {
    position: absolute;
    top: 70px;
    left: 90px;
}

.about_page_contact_text {
    position: absolute;
    top: 120px;
    left: 60px;
    font-size: 14px;
    line-height: 1.6;
    z-index: 2;
}

/*  TOPへ戻る*/
.about_page_top {
    padding-top: 40px;
    padding-bottom: 100px;
    cursor: pointer;
}

.about_page_top a {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 105px;
    padding: 30px 39px 30px 0;
    color: #938383;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.about_page_top a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #938383;
    border-radius: 50%;
}

.about_page_top a::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #938383;
    border-right: 1px solid #938383;
    transform: rotate(45deg);
}

/* about_page レスポンシブ */
@media screen and (max-width: 1160px) {
    .about_page_col_2 {
        display: block;
        padding: 0 20px;
    }

    .about_page_item2 {
        padding: 30px 0 60px 0;
    }
}

/* about_page レスポンシブ */
@media screen and (max-width: 767px) {
    .section_inner_about_top {
        max-width: 600px;
        margin: 0 auto;
    }

    .section_inner_about_bottom {
        margin: 0 auto;
    }

    .about_page .title {
        padding-bottom: 20px;
    }

    .about_page_ring {
        padding-bottom: 20px;
    }

    .about_page_message {
        text-align: center;
        line-height: 1.75;
        padding-bottom: 60px;
        font-size: 15px;
    }

    .about_page_col_2 {
        display: block;
        padding: 0 30px;
    }

    .about_page_item2 {
        padding-top: 30px 0 0 0;
    }

    /*  about moreここから*/
    .about_wrap {
        position: relative;
        margin-top: 100px;
        margin-left: -30px;
    }

    /* carrierここから */
    .about_wrap_right {
        position: relative;
        margin-left: 0;
        margin-top: 60px;
        margin-left: -30px;
    }

    .about_page_carrier_title {
        position: absolute;
        top: 50px;
        left: 175px;
    }
    .about_page_carrier_apple {
        position: absolute;
        top: 85px;
        left: 185px;
    }

    .about_wrap2 {
        margin-left: 60px;
        margin-top: 60px;
    }

    .about_page_top a {
        text-align: center;
    }

    .about_page_top a {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 30px 39px 30px 0;
        color: #938383;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
    }
}

/* 下層ページworks */
/* works_pageここから */
#works_page {
    padding-top: 150px;
}
.works_page .title {
    width: 91px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.works_page_menu {
    display: flex;
    justify-content: center;
}

.menu_gra,
.menu_web {
    cursor: pointer;
    padding: 0px 20px 0px 5px;
}

.menu_gra a,
.menu_web a {
    font-size: 14px;
    font-weight: bold;
    border-left: 8px solid #9b4848;
    padding: 0px 0px 0px 5px;
}

.works_page_gra {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.works_page_gra::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #938383;
}

.works_page_gra::before {
    margin-right: 20px;
}

.works_page_gra p {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.works_page_web {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.works_page_web::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #938383;
}

.works_page_web::before {
    margin-right: 20px;
}

.works_page_web p {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.works_page_container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works_page_container li {
    width: 300px;
}

.work_page {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding-bottom: 80px;
}

/*  TOPへ戻る*/
.works_page_top {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.works_page_top a {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 105px;
    padding: 30px 39px 30px 0;
    color: #938383;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.works_page_top a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #938383;
    border-radius: 50%;
}

.works_page_top a::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #938383;
    border-right: 1px solid #938383;
    transform: rotate(45deg);
}

/* works_page レスポンシブ */
@media screen and (max-width: 1100px) {
    .works_page_container {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 767px) {
    .works_page .title {
        width: 91px;
        padding-bottom: 40px;
    }

    .works_page_container {
        justify-content: center;
    }

    .work_page {
        padding-bottom: 40px;
    }

    .works_page_top {
        padding-top: 40px;
    }
}

/* 下層ページworks */
/* contact_pageここから */
#contact_page {
    padding-top: 150px;
}

.contact_page .title {
    width: 134px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.contact_page_ring {
    width: 36px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.contact_text {
    text-align: center;
    line-height: 2;
    padding-top: 20px;
    padding-bottom: 100px;
    font-size: 16px;
}

.contact_content {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

.form_item {
    text-align: left;
    margin-bottom: 24px;
}

.form_item label {
    width: 55%;
    padding-bottom: 20px;
}

.form_item label span {
    font-size: 10px;
    background-color: #9b4848;
    color: #fff;
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 50vh;
}
.form_item {
    width: 100%;
}

.input_text {
    width: 100%;
    padding: 16px 16px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
    opacity: 0.8;
}

.message {
    width: 100%;
    height: 200px;
    padding: 16px 16px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
    opacity: 0.8;
    font-family: fot-tsukuardgothic-std, sans-serif;
}

.submit_botton {
    border-style: none;
    background-color: #938383;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px 50px;
    border-radius: 50vh;
    transition: all 0.4s ease-out;
    cursor: pointer;
    font-size: 16px;
    font-family: fot-tsukuardgothic-std, sans-serif;
}
.submit_botton:hover {
    opacity: 0.5;
}

/*  TOPへ戻る*/
.contact_page_top {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.contact_page_top a {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 105px;
    padding: 30px 39px 30px 0;
    color: #938383;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.contact_page_top a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #938383;
    border-radius: 50%;
}

.contact_page_top a::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #938383;
    border-right: 1px solid #938383;
    transform: rotate(45deg);
}

/* contact_page レスポンシブ */
@media screen and (max-width: 767px) {
    .contact_page .title {
        padding-bottom: 20px;
    }
    .contact_text {
        padding-top: 25px;
    }
    .form {
        margin: 0 25px 0 25px;
    }
}

/* 下層ページworks */
/* reply_pageここから */
.reply_text {
    text-align: center;
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
}

.reply_message {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    line-height: 2;
}

/* モーダルここから */
.services li {
    transition: 0.3s;
}

.services li:hover {
    cursor: pointer;
    opacity: 0.5;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 49;
    background: rgba(0, 0, 0, 0.8);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 200px;
    padding: 40px;
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    z-index: 50;
}

.modal p {
    font-size: 14px;
    padding: 20px 0;
    line-height: 1.6;
}

/* モーダル レスポンシブ */
@media screen and (max-width: 1100px) {
    .modal {
        width: 60%;
        padding: 40px 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .modal {
        width: 90%;
        padding: 30px 10px;
        font-size: 14px;
    }
}

/* ふわっと表示させる */
.fade-in {
    opacity: 0;
    transition-duration: 2s;
    transition-property: opacity, transform;
}

.fade-in-up {
    transform: translate(0, 20px);
}

.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}

.fadeIn {
    transition: opacity 1s cubic-bezier(0.69, 0, 0.33, 1) 0s;
}

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #f2f2f2;
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

/*画面遷移アニメーション*/
.splashbg {
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
    display: block;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: scaleY(0);
    background-color: #f2f2f2; /*伸びる背景色の設定*/
    animation-name: PageAnime;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes PageAnime {
    0% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
    50% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    50.001% {
        transform-origin: top;
    }
    100% {
        transform-origin: top;
        transform: scaleY(0);
    }
}
